<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name = "Api">
    <test name = "ApiLoginTest">
        <classes>
            <class name="com.petstore.test.user.ApiLoginTest">
            </class>
<!--            <class name="ApiPostAndGetTest">-->
<!--            </class>-->
<!--            <class name="ApiTestWithIncorrectData">-->
<!--            </class>-->
<!--            <class name="ApiLogoutTest">-->
<!--            </class>-->
        </classes>
    </test>
</suite>