<suite name = "Api">
    <test name = "ApiLoginTest">
        <classes>
            <class name="com.petstore.test.user.ApiLoginTest">
            </class>
            <class name="com.petstore.test.user.ApiPostAndGetTest">
            </class>
            <class name="com.petstore.test.user.ApiTestWithIncorrectData">
            </class>
            <class name="com.petstore.test.user.ApiLogoutTest">
            </class>
        </classes>
    </test>
</suite>